a.button {
    background-color: var(--color-pink-dark);
    font: var(--font-button);
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    position: relative;
}

a.button span {
    z-index: 1;
}

a.button:hover::after {
    transform: scale(1);
}

a.button::after {
    content: "";
    position: absolute;
    
    border-radius: 50%;
    background: var(--color-pink-base);
    transform: scale(0);
    transition: transform 500ms;
}

