section#hero {
    height: 59.25rem;
    position: relative;
  }
  
section#hero header {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 10rem 0 10rem;
}

section#hero header .button-wrapper {
    width: 4.875rem;
    margin-block: 0.5625rem;
}

section#hero .text-container {
    padding-top: 164px;
    width: 41rem;
    margin: auto;
}

section#hero .text-container h1 {
    text-align: center;
    font: var(--font-title-lg);
}

section#hero .inner-text-container {
    max-width: 558px;
    margin: auto;
    padding-top: 2rem;
}

section#hero .inner-text-container p {
    font: var(--font-body-lg);
    text-align: center;
}

section#hero #hero-background {
    background: url(../assets/img/hero-background-gradient.svg) top center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: appear 1s forwards;
    z-index: -1;
  }
  
section#hero #hero-background::after {
    content: "";
    background: url(../assets/img/hero-background.svg) top center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: appear 2s 500ms forwards;
  }
  

  
@keyframes appear {
    to {
      opacity: 1;
    }
  }
  