/* Seletor para o ID 'monthly-kit' */
section#monthly-kit {
    padding-top: 14.6875rem;
    text-align: center;
  }
  
  section#monthly-kit > h2 {
    font: var(--font-title-sm);
    color: var(--color-text-title);
    display: flex;
    margin-inline: auto;
    max-width: 26.5625rem;
    gap: 1rem;
  }
  
  section#monthly-kit > h2 > img {
    width: 2rem;
}
  
  section#monthly-kit > p {
    font: var(--font-body-md);
    color: var(--color-text-body);
    padding-block: 0.3125rem 88px;
  }
  
  /* Hover aplicado a .book-container (corrigido de #book-container para .book-container) */
  section#monthly-kit .book-container:hover .book-content p:first-child {
    transform: translate(-190%, -700%);
  }
  
  section#monthly-kit .book-container:hover .book-content img[src*="arrow-from-book"] {
    transform: translate(-115%, -500%);
  }
  
  section#monthly-kit .book-container:hover .book-content > img[src*="bookmark-yellow"] {
    transform: translate(65%, -20%) rotate(12deg);
  }
  
  section#monthly-kit .book-container:hover .book-content > img[src*="bookmark-purple"] {
    transform: translate(123%, -2%) rotate(22deg);
  }
  
  section#monthly-kit .book-container:hover .book-content > img[src*="arrow-from-purple-bookmark"] {
    transform: translate(230px, 140px);
  }
  
  section#monthly-kit .book-container:hover .book-content p:nth-child(7) {
    transform: translate(105%, 800%);
  }
  
  section#monthly-kit .book-container:hover .book-content p:nth-child(8) {
    transform: translateX(-210%);
  }
  
  section#monthly-kit .book-container:hover .book-content > img[src*="arrow-from-pin"] {
    transform: translate(-250px, -50px) !important;
  }
  
  section#monthly-kit .book-container:hover .book-content > img[src*="pin"] {
    transform: translate(-162px, 80px) rotate(-8deg);
  }
  
  /* Restante do estilo aplicado para .book-content */
  section#monthly-kit .book-content {
    position: relative;
    max-width: 879px;
    margin: auto;
  }
  
  section#monthly-kit .book-content img[src$="monthly-kit/book.svg"] {
    padding-block: 134px 169px;
    max-width: 467px;
  }
  
  section#monthly-kit .book-content p {
    font: var(--font-body-md);
    color: var(--color-text-title);
  }
  
  section#monthly-kit .book-content p:first-child {
    position: absolute;
    top: 25%;
    left: 30%;
    z-index: -1;
    transition: all 400ms;
  }
  
  section#monthly-kit .book-content img[src*="arrow-from-book"] {
    max-width: 175px;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: -1;
    transition: all 400ms;
  }
  
  section#monthly-kit .book-content > img[src*="bookmark"] {
    position: absolute;
    left: 53%;
    top: 17%;
  }
  
  section#monthly-kit .book-content > img[src*="bookmark-yellow"] {
    z-index: -1;
    transition: all 400ms;
  }
  
  section#monthly-kit .book-content > img[src*="bookmark-purple"] {
    z-index: -2;
    transition: all 400ms;
  }
  
  section#monthly-kit .book-content > img[src*="arrow-from-purple-bookmark"] {
    max-width: 145px;
    position: absolute;
    left: 57%;
    top: 58%;
    z-index: -2;
    transition: all 400ms;
  }
  
  section#monthly-kit .book-content p:nth-child(7) {
    position: absolute;
    top: 72%;
    left: 53%;
    z-index: -1;
    transition: all 400ms;
  }
  
  section#monthly-kit .book-content p:nth-child(8) {
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: -1;
    transition: all 400ms;
  }
  
  section#monthly-kit .book-content > img[src*="arrow-from-pin"] {
    max-width: 105px;
    position: absolute !important;
    left: 30% !important;
    top: 60% !important;
    z-index: -2 !important;
    transition: all 400ms;
  }
  
  section#monthly-kit .book-content > img[src*="pin"] {
    max-width: 222px;
    position: absolute;
    left: 26%;
    top: 55%;
    z-index: -1;
    transition: all 400ms;
  }
  